<div class="container px-4 py-5 mx-auto">
  <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
          <div class="card card1">
              <div class="row justify-content-center my-auto">
                  <div class="col-md-8 col-10 my-5">
                      <h3 class="mb-5 text-center heading">FNZ Group</h3>
                      <h6 class="msg-info">Please login to your account</h6>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="form-control-label text-muted" for="username">Username</label>
                                <input type="text" id="email" placeholder="Username" class="form-control" formControlName="username" required [ngClass]="{'is-invalid':submitted && f['username'].errors}">
                            </div>
                            <div *ngIf="f['username'].errors && submitted" class="invalid-feedback">Username is required</div>
                            <div class="form-group">
                                <label class="form-control-label text-muted" for="password">Password</label>
                                <input type="password" id="psw" formControlName="password" placeholder="Password" class="form-control" required minlength="6" [ngClass]="{'is-invalid':submitted && f['password'].errors}">
                            </div>
                            <div *ngIf="f['password'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center my-3 px-3">
                                    <button class="btn btn-block btn-color">Login to FNZ</button>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2">
                                <a href="#"><small class="text-muted">Forgot Password?</small></a>
                            </div>
                            <div class="form-group">
                                <div *ngIf="submitted" class="alert alert-danger" role="alert">
                                    Login failed: {{error}}
                                </div>
                            </div>
                        </form>
                  </div>
              </div>
          </div>
          <div class="card card2">
              <div class="my-auto mx-md-5 px-md-5 right">
                  <h3 class="text-white">We are wealth's everyone's growth platform</h3>
                  <small class="text-white">FNZ is the global platform opening up wealth. We partner with the entire industry to make wealth management accessible to more people. </small>
              </div>
          </div>
      </div>
  </div>
</div>